.clients-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 40px;
    
}

@media only screen and (max-width:576px){
    .clients-container{
        grid-template-columns: repeat(1,1fr);
    }
}